<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Predictor</title>
    </head>
    <body>
        <h1>Model Prediction</h1>
        <form method="POST">
            <input type="text" name="features" placeholder="Nhập dữ liệu cách nhau bằng dấu phẩy">
            <button type="submit">Dự đoán</button>
        </form>

        {% if prediction %}
        <h3>Prediction: {{ prediction }}</h3>
        {% endif %}
    </body>
</html>
